.projects {
  padding: 80px;
  height: 100%;
}

.projects-list-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.projects .projects-list {
  width: max-content;
  padding: 50px 0px;
  display: flex;
  /* position: absolute; */
}

.makeFixed {
  position: fixed;
  top: 0;
}

.projects .projects-list-arrow-wrapper {
  display: flex;
  align-items: center;
}

.projects .projects-list-arrow-wrapper .projects-list-arrow {
  padding: 0 40px;
  cursor: pointer;
  font-size: 60px;
  color: #707070;
  transition: all 400ms;
}

.projects .projects-list-arrow-wrapper .projects-list-arrow:hover {
  color: white;
}

.projects .projects-list .project-wrapper {
  width: 270px;
  display: inline-block;
  padding-right: 60px;
}

.projects .projects-list .project-wrapper .project-title {
  text-align: left;
  text-transform: lowercase;
  font-size: 26px;
  margin: 10px 0px;
}

.projects .projects-list .project {
  border: 1px solid #707070;
  border-radius: 30px;
  display: block;
  height: 370px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects .projects-list .project .open-project {
  position: absolute;
  letter-spacing: -10px;
  right: 25px;
  top: 8px;
  font-size: 24px;
  color: #707070;
  transition: all 500ms;
  cursor: pointer;
}

.projects .projects-list .project:hover .open-project {
  color: white;
}

.projects .projects-list .project .project-image-wrapper {
  height: 180px;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.projects .projects-list .project .project-image-wrapper:hover .project-image {
  filter: grayscale(0%);
}

.projects .projects-list .project .project-image {
  max-height: max-content;
  filter: grayscale(100%);
  width: 75%;
  transition: all 500ms;
}

.projects .projects-list .project .project-brief {
  border-top: 1px solid #707070;
  padding: 5px 20px;
  height: 100px;
  flex: none;
}

.projects .projects-list .project .project-brief .project-description {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
