.tech-list {
  padding-bottom: 15px;
}

.tech-list .tech-list-title {
  font-size: 20px;
  text-align: left;
  color: #a1a1a1;
}

.tech-list .tech-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-list .tech-skills:hover .tech-skill .tech-skill-image {
  filter: grayscale(0%);
}

.tech-list .tech-skills .tech-skill {
  padding: 10px 20px;
  border: 3px solid #da0037;
  border-radius: 40px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
}

.tech-list .tech-skills .tech-skill .tech-skill-image {
  height: 40px;
  filter: grayscale(60%);
  transition: all 200ms;
}

.tech-list .tech-skills .tech-skill .tech-skill-name {
  color: #707070;
}
